
// ==========
// Typography
// ==========

.large-heading {}

.medium-heading {}

.small-heading {}

.important-text {
	font-size: 1.25rem;
	line-height: $base-line-height;
}
.secondary-text {
	font-size: 0.85rem;
	color: lighten( $body-font-color, 40% );
	line-height: $base-line-height * 1.25;
}


// ======================================================
// WYSIWYG Blocks
// Everything passed through 'the_content' filter will be
// automatically wrapped in div.wysiwyg
// ======================================================

.wysiwyg {

	// ==============
	// WYSIWYG Images
	// ==============
	
	img, .wp-caption {
		
		margin: 0 auto $column-gutter;
		width: 100%;
		height: auto;

		// Images inside a caption
		img {
			margin: 0;
			display: inline-block;
		}

		@media #{$medium-up}{
			width: auto;
			&.alignleft {
				float: left;
				clear: left;
				margin-right: $column-gutter;
			}
			&.alignright {
				float: right;
				clear: right;
				margin-left: $column-gutter;
			}
		}

		&.wp-caption {
			width: auto !important;
			.wp-caption-text {
				// Caption styles
			}
		}
	}
}




// ===============
// Buttons & Links
// ===============



// =====
// Forms
// =====

input[type="submit"] {
	@extend .button;
}

input.check-pass-strength-meter {
	&.strength-0 { @include bad-color(); }
	&.strength-1 { @include bad-color(); }
	&.strength-2 { @include weak-color(); }
	&.strength-3 { @include ok-color(); }
	&.strength-4 { @include good-color(); }
	&.strength-5 { @include bad-color(); }
}


// =======
// Utility
// =======

.screenreader {
	position: absolute;
	left: -999em;
}